<!DOCTYPE html>
<html>

<head>
  <title>MAKOTO-Portfolio-</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <!-- Bootstrap css cdn -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- //Bootstrap css cdn -->
  <%= favicon_link_tag('/favicon.ico') %>
  <!-- ファビコン -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.0.10/font-awesome-animation.css" type="text/css" media="all" /><!-- font-awesome -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script><!-- jQuery -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script><!-- Vue.js cdn -->
  <script src="https://cdn.jsdelivr.net/npm/vue-js-modal@1.3.31/dist/index.min.js"></script><!-- Vue-js-modal cdn -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vue-js-modal@1.3.31/dist/styles.css"><!-- Vue-js-modal cdn -->
  <script src="https://kit.fontawesome.com/101be85326.js" crossorigin="anonymous"></script><!-- font-awesome -->
  <!-- Bootstrap cdn -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <!-- //Bootstrap cdn -->
  <script src="https://unpkg.com/vue-typer/dist/vue-typer.min.js"></script><!-- Vue-typer cdn -->

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

  <!-- header -->
  <header>
    <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
      <div class="container" id="top">
        <a href="/">
          <h1>MAKOTO<br><span>-Portfolio-</span></h1>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li><%= link_to("Memo-chat","/posts/index") %></li>
            <li><%= link_to("Calculator","/calc") %></li>
            <li><%= link_to("Profile","/profile") %></li>
            <li><%= link_to("Work","/work") %></li>
            <li><%= link_to("Contact","/contact") %></li>
          </ul>
        </div>
      </div>
    </nav>
  </header><!-- //header -->

  <% if flash[:notice] %>
  <div class="flash">
    <%=  flash[:notice] %>
  </div>
  <% end %>

  <%= yield %>

  <!-- footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-12 center">
          <p>&copy; Makoto , All Rights Reserved.</p>
        </div><!-- // -->
      </div><!-- //row -->
    </div><!-- //container -->
  </footer><!-- //footer -->

</body>

</html>

<script>
  $(function() {
    $(document).ready(function() {
      $("#navbarResponsive").click(function() {
        $(".navbar-nav ml-auto").fadeToggle(1000);
      });
    });
  });
</script>